tools/chown/chown
tools/index/index
*.o
*.d
*.swp
ftpd
*~
version.hpp
ftpd.exe
.cproject
.project
*.gz
*.bz2
*.zip
*.bak
Copy of *
*.gch
*.txt
tmp
.state
glftpd.conf
*.pem
*.conf
unity.cpp
siteroot
unity-*.cpp
ebftpd
ebftpd.exe

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

core
*.dbg

