port            1234
valid_ip        ::
tls_certificate ebftpd.pem
sitepath        site

makedir         *       *
upload          *       *
download        *       *
deleteown       *       *
renameown       *       *

-epsv           *
-idle           *
-vers           *
-xdupe          *
-passwd         *
-chpass         *
-deluser        *
-readd          *
-purge          *
-renuser        *
-adduser        *
-tadduser       *
-addip          *
-addownip       *
-flags          *
-flagsown       *
-delip          *
-delownip       *
-setpgrp        *
-change         *
-changeallot    *
-changeflags    *
-changeratio    *
-changesratio   *
-changehomedir  *
-kick           *
-seen           *
-users          *
-give           *
-giveown        *
-take           *
-stats          *
-statsown       *
-user           *
-userown        *
-tagline        *
-chgrp          *
-ranks          *
-grpranks       *
-nuke           *
-unnuke         *
-nukes          *
-unnukes        *
-undupe         *
-predupe        *
-update         *
-dupe           *
-fdupe          *
-new            *
-chown          *
-chmod          *
-emulate        *
-traffic        *
-who            *
-swho           *
-wipe           *
-logs           *
-errorlog       *
-securitylog    *
-eventlog       *
-dblog          *
#-sysoplog       *
-laston         *
-onel           *
-oneladd        *
-chgadmin       *
-gadduser       *
-groups         *
-group          *
-grpchange      *
-grpadd         *
-grpdel         *
-grpren         *
-grpnfo         *
-help           *
-stat           *
-time           *
-search         *
-welcome        *
-goodbye        *
-msg            *
-msg*           *
-msg=           *
-msg{           *
-request        *
-reqfilled      *
-requests       *
-reload         *
-shutdownfull   *
-shutdownsiteop *
