{% head %}
.-----.----------.---------------------------- -- >
| ### | Date     | Directory
|-----+----------+--------------------------- -- >
{% endblock %}
{% body %}
| {{ index|right|03 }} | {{ date|8.8 }} | {{ directory }}
{% endblock %}
{% foot %}
`-----`----------`------------------------- -- >
{% endblock %}
