{% head %}
,-----------+--------+-----------+--------+-----------+-------+---------.
|  Username |     Up |      Megs |     Dn |      Megs | Ratio |    Wkly |
|-----------+--------+-----------+--------+-----------+-------+---------|
{% endblock %}
{% body %}
| {{ flag|1.1 }}{{ user|left|8.8 }} | {{ files_up|right|6.6 }} | {{ size_up|mb|right|9.2 }} | {{ files_dn|right|6.6 }} | {{ size_dn|mb|right|9.2 }} | {{ ratio|right|5.5 }} | {{ weekly_allot|right|7.2 }} |
{% endblock %}
{% foot %}
|-----------+--------+-----------+--------+-----------+-------+---------|
|            * is siteop,  % is useredit, + is group admin              |
`-----------------------------------------------------------------------'
{% endblock %}
