{% head %}
.--------------------------------------------------------------------.
| Mems | Name                | Description                           |
+------+---------------------+---------------------------------------+
{% endblock %}

{% body %}
| {{ users|right|4 }} | {{ group|left|19 }} | {{ descr|left|37 }} |
{% endblock %}

{% foot %}
+--------------------------------------------------------------------+
|                        (  E B F T P D  )                           |
`--------------------------------------------------------------------'
{% endblock %}
