{% head %}
,-----------+--------+-----------+--------+-----------+-------+---------.
|  Username |     Up |      Megs |     Dn |      Megs | Ratio |    Wkly |
|-----------+--------+-----------+--------+-----------+-------+---------|
{% endblock %}
{% body %}
| {{ flag }}{{ user|left|8 }} | {{ files_up|right|6 }} | {{ size_up|mb|right|9 }} | {{ files_dn|right|6 }} | {{ size_dn|mb|right|9 }} | {{ ratio|right|5 }} | {{ weekly_allot|right|7 }} |
{% endblock %}
{% foot %}
|-----------+--------+-----------+--------+-----------+-------+---------|
|            * is siteop,  % is useredit, + is group admin              |
`-----------------------------------------------------------------------'
{% endblock %}
