{% head %}
#users  Group Abbr.      Group Description
----------------------------------------------------------------------
{% endblock %}

{% body %}
({{ users|3 }})   {{ group|left|17 }} {{ description }}
{% endblock %}

{% foot %}
----------------------------------------------------------------------
{{ total_groups }} user groups.
{% endblock %}
