{% head %}
.----.------------.--------.----------------------.----------------------.
| ## | Sender     | Status | When                 | Message Start        |
|----+------------+--------+----------------------+----------------------|
{% endblock %}
{% body %}
| {{ index|02|right }} | {{ sender|left|10 }} | {{ status|6|left }} | {{ when|left|20 }} | {{ body|left|20 }} |
{% endblock %}
{% foot %}
`----'------------'--------'----------------------'----------------------'
End of mail box list.
{% endblock %}
