{% head %}
.-----.---------.----------.------------------ -- >
| ### | Age     | Size     | Directory
|-----+---------+----------+---------------- -- >
{% endblock %}
{% body %}
| {{ index|right|03 }} | {{ age|right|7.7 }} | {{size|6.2|auto }} | {{ path }}
{% endblock %}
{% foot %}
`-----`---------`----------`-------------- -- >
{% endblock %}
