{% head %}
.-------------------------------------------------------------------------.
| ## User         Tagline                     Files    Mbytes       Speed |
|-------------------------------------------------------------------------|
{% endblock %}
{% body %}
| {{ index|02 }} {{ user|left|12 }} {{ tagline|left|25 }} {{ files|right|7 }} {{ size|right|7.0|mb }}MB {{ speed|right|7.0|kb }}KB/s |
{% endblock %}
{% foot %}
|-------------------------------------------------------------------------|
|                                           {{ files|right|7 }} {{ size|right|7.0|mb }}MB {{ speed|right|7.0|kb }}KB/s |
|                           ( E B F T P D )                               |
`-------------------------------------------------------------------------'
{% endblock %}

