{% head %}
{% endblock %}
{% body %}
{{ index }} {{ group }} "{{ descr }}" {{ files }} {{ size|kb }} {{ speed|kb }}
{% endblock %}
{% foot %}
X TOTAL "" {{ files }} {{ size|kb }} {{ speed|kb }}
{% endblock %}

