{% head %}
{% endblock %}
{% body %}
{{ index }} {{ user }} "{{ tagline }}" {{ files }} {{ size|kb }} {{ speed|kb }}
{% endblock %}
{% foot %}
X TOTAL "" {{ files }} {{ size|kb }} {{ speed|kb }}
{% endblock %}

