{% head %}
.-----.-------------.--------------------------------------- -- >
| ### | Date        | Path
|--------------------------------------------------------- -- >
{% endblock %}
{% body %}
| {{ index|right|03 }} | {{ datetime|11.11 }} | {{ path }}
{% endblock %}
{% foot %}
`-----`-------------`----------------------------------- -- >
{% endblock %}
