{% head %}
.-----.-------------.-----------.---------------------------- -- >
| ### | Date        | Size      | Path
|-----+-------------+-----------+-------------------------- -- >
{% endblock %}
{% body %}
| {{ index|right|03 }} | {{ datetime|11.11 }} | {{size|7.2|auto }} | {{ path }}
{% endblock %}
{% foot %}
`-----`-------------`------------------------------------ -- >
{% endblock %}
