{% head %}
.---------------------------------------------.
{% endblock %}
{% body %}
| {{ section|left|43 }} |
|---------------------------------------------|
| Day up        {{ day_up_files|right|7 }} {{ day_up_size|right|7.0|mb }}MB {{ day_up_speed|right|7.0|kb }}KB/s |
| Day down      {{ day_down_files|right|7 }} {{ day_down_size|right|7.0|mb }}MB {{ day_down_speed|right|7.0|kb }}KB/s |
| Week up       {{ week_up_files|right|7 }} {{ week_up_size|right|7.0|mb }}MB {{ week_up_speed|right|7.0|kb }}KB/s |
| Week down     {{ week_down_files|right|7 }} {{ week_down_size|right|7.0|mb }}MB {{ week_down_speed|right|7.0|kb }}KB/s |
| Month up      {{ month_up_files|right|7 }} {{ month_up_size|right|7.0|mb }}MB {{ month_up_speed|right|7.0|kb }}KB/s |
| Month down    {{ month_down_files|right|7 }} {{ month_down_size|right|7.0|mb }}MB {{ month_down_speed|right|7.0|kb }}KB/s |
| Year up       {{ year_up_files|right|7 }} {{ year_up_size|right|7.0|mb }}MB {{ year_up_speed|right|7.0|kb }}KB/s |
| Year down     {{ year_down_files|right|7 }} {{ year_down_size|right|7.0|mb }}MB {{ year_down_speed|right|7.0|kb }}KB/s |
| Alltime up    {{ alltime_up_files|right|7 }} {{ alltime_up_size|right|7.0|mb }}MB {{ alltime_up_speed|right|7.0|kb }}KB/s |
| Alltime down  {{ alltime_down_files|right|7 }} {{ alltime_down_size|right|7.0|mb }}MB {{ alltime_down_speed|right|7.0|kb }}KB/s |
|---------------------------------------------|
{% endblock %}
{% foot %}
| ALL SECTIONS                                |
|---------------------------------------------|
| Day up        {{ day_up_files|right|7 }} {{ day_up_size|right|7.0|mb }}MB {{ day_up_speed|right|7.0|kb }}KB/s |
| Day down      {{ day_down_files|right|7 }} {{ day_down_size|right|7.0|mb }}MB {{ day_down_speed|right|7.0|kb }}KB/s |
| Week up       {{ week_up_files|right|7 }} {{ week_up_size|right|7.0|mb }}MB {{ week_up_speed|right|7.0|kb }}KB/s |
| Week down     {{ week_down_files|right|7 }} {{ week_down_size|right|7.0|mb }}MB {{ week_down_speed|right|7.0|kb }}KB/s |
| Month up      {{ month_up_files|right|7 }} {{ month_up_size|right|7.0|mb }}MB {{ month_up_speed|right|7.0|kb }}KB/s |
| Month down    {{ month_down_files|right|7 }} {{ month_down_size|right|7.0|mb }}MB {{ month_down_speed|right|7.0|kb }}KB/s |
| Year up       {{ year_up_files|right|7 }} {{ year_up_size|right|7.0|mb }}MB {{ year_up_speed|right|7.0|kb }}KB/s |
| Year down     {{ year_down_files|right|7 }} {{ year_down_size|right|7.0|mb }}MB {{ year_down_speed|right|7.0|kb }}KB/s |
| Alltime up    {{ alltime_up_files|right|7 }} {{ alltime_up_size|right|7.0|mb }}MB {{ alltime_up_speed|right|7.0|kb }}KB/s |
| Alltime down  {{ alltime_down_files|right|7 }} {{ alltime_down_size|right|7.0|mb }}MB {{ alltime_down_speed|right|7.0|kb }}KB/s |
`---------------------------------------------'
{% endblock %}
