{% head %}
Users logged on to {{ sitename_short }}
.------------.--------------------------------.--------------------------------.
| User       | Ident@Address                  | Action                         |
|------------+--------------------------------+--------------------------------|
{% endblock %}
{% body %}
| {{ user|10|left }} | {{ ident_address|30|left }} | {{ action|30|left }} |
{% endblock %}
{% foot %}
|-----------+----------+----------------------+--------------------------------|
| {{ users|4|center }} of {{ total_users|4|center }} user(s) currently online.                                       |
`------------------------------------------------------------------------------'
{% endblock %}
