{% head %}
Users logged on to {{ sitename_short }}
.------------.--------------------------------.--------------------------------.
| User       | Ident@Address                  | Action                         |
|------------+--------------------------------+--------------------------------|
{% endblock %}
{% body %}
| {{ user|10.10|left }} | {{ ident_address|30.30|left }} | {{ action|30.30|left }} |
{% endblock %}
{% foot %}
|------------+--------------------------------+--------------------------------|
| {{ online_users|4|center }} of {{ max_online_users|4|center }} user(s) currently online.               
`------------------------------------------------------------------------------'
{% endblock %}
