{% head %}}
//://:: ebftpd ::\\:\\
//:{{ user }} :::::: {{ group }}\\
{% endblock %}
{% body %}
//{{ amount|mb }} MB
//{{ speed|kb|.4 }} MB/s
{% endblock %}
{% foot %}
\\:\\:: ebftpd :://://
{% endblock %}
