{% head %}
.---------.-------.----------.-----------------.------------------ -- >
| Age     | Multi | Size     | Reason          | Directory
|---------+-------+----------+-----------------+---------------- -- >
{% endblock %}
{% body %}
| {{ age|right|7.7 }} | {{ multi|5 }} | {{ size|6.2|auto }} | {{ reason|15|left }} | {{ directory }}
{% endblock %}
{% foot %}
`---------`-------`----------`-----------------`------------- -- >
{% endblock %}
