{% head %}
Users logged on to {{ sitename_short }}
.-----------.----------.----------------------.--------------------------------.
| User      | Group    | Tagline              | Activity                       |
|-----------+----------+----------------------+--------------------------------|
{% endblock %}
{% body %}
| {{ user|left|9 }} | {{ group|left|8 }} | {{ tagline|20|left }} | {{ action|30|left }} |
{% endblock %}
{% foot %}
|-----------+----------+----------------------+--------------------------------|
| {{ users|4|center }} of {{ total_users|4|center }} user(s) currently online.                                       |
`------------------------------------------------------------------------------'
{% endblock %}
