{% head %}
Users logged on to {{ sitename_short }}
.-----------.----------.----------------------.--------------------------------.
| User      | Group    | Tagline              | Activity                       |
|-----------+----------+----------------------+--------------------------------|
{% endblock %}
{% body %}
| {{ user|left|9.9 }} | {{ group|left|8.8 }} | {{ tagline|20.20|left }} | {{ action|30.30|left }} |
{% endblock %}
{% foot %}
|-----------+----------+----------------------+--------------------------------|
| {{ online_users|4|center }} of {{ max_online_users|4|center }} user(s) currently online.                                       |
`------------------------------------------------------------------------------'
{% endblock %}
